<link rel='stylesheet' type='text/css' href='style.css'/>
<body>
<%if @game.player_1_turn%>
<%=@game.player_2.name%>
<%else%>
<%=@game.player_1.name%>
<%end%>
 attacked
<%if @game.player_1_turn%>
<%=@game.player_1.name%>
<%else%>
<%=@game.player_2.name%>
<%end%>
<form action="/play">
<input type="submit" value="OK">
</form>
</body>
